<!DOCTYPE html>
<title>Advertisements</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div align="center">
    <h1>Advertisements</h1>
</div>
    <form action="{{url_for('advice')}}" method=post>
        <label for="atype">advertisement type</label>
        <select name="atype" id="atype">
            <option value="internet">internet</option>
            <option value="gaming system">gaming system</option>
            <option value="Store Location">Store Location</option>
            <option value="software">software</option>
            <option value="Social VR">Social VR</option>
            <option value="digital device">digital device</option>
            <option value="package">package</option>
        </select>
        <label for="target">advertisement target</label>
        <select name="target" id="target">
            <option value="no preference">no preference </option>
            <option value="developers">developers</option>
            <option value="teenagers">teenagers</option>
            <option value="senior citizens">senior citizens</option>
            <option value="employees">employees</option>
            <option value="young adults">young adults</option>
            <option value="families">families</option>
            <option value="music_lovers">music lovers</option>
        </select>
        <button type="submit">Go</button>
    </form>
  {% block body %}{% endblock %}
</div>
